extends layout

block content
	header
		a.sign_out(href='/profile') #{user.firstName}
		br
		a.sign_out(href='/signout') Выход
	hr.hr
	br
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
						.input-group.stylish-input-group
							input.form-control(type='text', id='search_input')
							span.input-group-btn
								button.btn.btn-primary(type='submit', id='home_search') Поиск
	br
	br
	br
	br
	.container
		.row
			.col-sm-8.col-sm-offset-2
				p.thumb
					a(href='http://moscow.shop.megafon.ru/planshet/92225.html?utm_source=vk&utm_medium=ag-media_media_retargeting-devices_tgb_cpc&utm_campaign=fed_flight_shop_planshet_v_dorogu_rf&utm_content=creative_1')
						img(src='images/tablet_1.png', alt='Фотография 1', width='110', height='190')
					img(src='images/tablet_1.png', alt='Фотография 2', width='110', height='190')
					img(src='images/tablet_1.png', alt='Фотография 3', width='110', height='190')
					img(src='images/tablet_1.png', alt='Фотография 4', width='110', height='190')
					img(src='images/tablet_1.png', alt='Фотография 5', width='110', height='190')
					img(src='images/tablet_1.png', alt='Фотография 6', width='110', height='190')
	script(type="text/javascript").
		var id = '#{user.id}';
		$(function () {
			$('#home_search').click(function () {
				$.post('/home/search', { query: $('#search_input').val(), id : id}, function(data){console.log(data)});
			});
		});