extends layout

block content
	header
		a.sign_out(href='/profile') #{user.firstName}
		br
		a.sign_out(href='/signout') Выход
	hr.hr
	br
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
						.input-group.stylish-input-group
							input.form-control(type='text', id='search_input')
							span.input-group-btn
								button.btn.btn-primary(type='submit', id='home_search') Поиск
	br
	br
	br
	br
	.container
		.row
			.col-sm-8.col-sm-offset-2
				p(id='pictures').thumb
	script(type="text/javascript").
		var home_user_id = '#{user.id}';
		$(function () {
			$('#home_search').click(function () {
				$.post('/home/search', { query: $('#search_input').val(), id : home_user_id}, function(data) {
					$('#pictures').html(
					'<img src="images/advs/' + data.file_names[0] + '"alt="picture_1" width="110" height="190"/>' +
					'<img src="images/advs/' + data.file_names[1] + '" alt="picture_2" width="110" height="190"/>' +
					'<img src="images/advs/' + data.file_names[2] + '" alt="picture_3" width="110" height="190"/>' +
					'<img src="images/advs/' + data.file_names[3] + '" alt="picture_4" width="110" height="190"/>' +
					'<img src="images/advs/' + data.file_names[4] + '" alt="picture_5" width="110" height="190"/>' +
					'<img src="images/advs/' + data.file_names[5] + '" alt="picture_6" width="110" height="190"/>'
					);
					console.log(data)
				});
			});
		});