extends layout

block content
	header
		a.sign_out(href='/profile') Профиль
		br
		a.sign_out(href='/signout') Выход
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#welcome
					h1.text-center.login-title Добро пожаловать, #{user.firstName}.
	br
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
						.input-group.stylish-input-group
							input.form-control(type='text', id='search_input')
							span.input-group-btn
								button.btn.btn-primary(type='submit', id='home_search') Поиск
	script(type="text/javascript").
		var id = '#{user.id}';
		$(function () {
			$('#home_search').click(function () {
				$.post('/home/search', { query: $('#search_input').val(), id : id}, function(data){console.log(data)});
			});
		});
