extends layout

block content
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#welcome
					h1.text-center.login-title Добро пожаловать, #{user.firstName}.
	br
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
						.input-group.stylish-input-group
							input.form-control(type='text', placeholder='')
							span.input-group-btn
								button.btn.btn-primary(type='submit', formmethod='post', id='home_search') Поиск
	script(type="text/javascript").
		$(function () {
			$('#home_search').click(function () {
				$.post('/home/search', { data: 'data'}, function(data){console.log(data)});
			});
		});
