extends layout

block content
	header
		a.sign_out(href='/profile') #{user.firstName}
		br
		a.sign_out(href='/signout') Выход
	hr.hr
	br
	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
						.input-group.stylish-input-group
							input.form-control(type='text', id='search_input')
							span.input-group-btn
								button.btn.btn-primary(type='submit', id='home_search') Поиск
	br
	table.my_table
		tr
			td картинка
			td
			td картинка
		tr
			td картинка
			td картинка
			td картинка
	br
	footer
		hr.hr
	script(type="text/javascript").
		var id = '#{user.id}';
		$(function () {
			$('#home_search').click(function () {
				$.post('/home/search', { query: $('#search_input').val(), id : id}, function(data){console.log(data)});
			});
		});
