doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(language='javaScript', type='text/javascript', src='/scripts/jquery.min.js')
  body
    block content
    footer
        hr.hr
        p(align='center') Игорь Пенской, ИУ7-61, МГТУ им. Н.Э. Баумана, 2016.