doctype html
html
  head
    title= 'Adviser'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(language='javaScript', type='text/javascript', src='/scripts/jquery.min.js')
  body
    block content
    footer
        hr.hr
        p(align='center') Penskoy I., BMSTU, 2016.