body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
    border: none;
    background-color: #0074D9;
    color: #0074D9;
    height: 2px;
}

.thumb img  {
    border: 2px solid #0074D9; /* Рамка вокруг фотографии */
    padding: 5px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }

.my_table{
    border-collapse: separate;
    border-spacing: 20px;
}

.hr{
    border: none;
    background-color: #0074D9;
    color: #0074D9;
    height: 2px;
}

.sign_out{
    margin-left: 95%;
}

.back_to_search{
    margin-left: 90%;
}

.srcbut{
    width:80px;
}

#imaginary_container{
    /*margin-top:20%; /* Don't copy this */
}

.stylish-input-group .form-control{
    box-shadow:0 0 0;
    border-color:#ccc;
}

.hidden{
    visibility: hidden;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-search{
    position: relative;
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-date-par{
    position: relative;
    font-size: 16px;
    height: auto;
    margin: 10px;
}
.form-signin .form-date-date{
    position: relative;
    font-size: 16px;
    height: auto;
    margin: 10px;
}
.form-signin .form-radio{
    position: relative;
    font-size: 16px;
    height: auto;
    margin: 10px;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: 10px;
}
.form-signin input[type="email"]{
    margin-bottom: 10px;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
textarea {
    resize: none;
}